/**/
/* FONT */
/**/
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/**/
/* HEADER */
/**/
.logo {
  filter: invert(100%);
}

/**/
/* HEADER BUTTON*/
/**/
.button {
  position: relative;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 18px;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.button > span,
.link > span {
  display: block;
  position: relative;
  z-index: 999;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  transition: inherit;
}

.button:hover,
.link:hover {
  color: rgb(73, 119, 132);
  transition: 0.8s;
  font-weight: 300;
}

.button:hover:before {
  transition-delay: 0s;
}

.button:hover:after {
  background: white;
  transition-delay: 0.5s;
}

.left:before,
.left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.left:before {
  right: 0;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
}

.left:after {
  left: 0;
}

.left:hover:before,
.left:hover:after {
  width: 100%;
}

/**/
/* DROPDOWN MENU */
/**/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
}

.dropbtn:hover{
  color: rgb(11, 60, 73);
  transition: 0.5s;
  cursor: pointer;
}

.link{
  position: relative;
  padding: 10px;
  color: rgb(182, 115, 150);
  font-size: 18px;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.dropdown-content {
  color:  rgb(234, 185, 210);
  display: none;
  padding: 10px;
  position: absolute;
  background-color: rgb(251, 245, 243);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 16px;
}

.dropdown:hover .dropbtn {
  background-color: rgb(122, 150, 166);
}

/**/
/* MAIN */
/**/
.logo_home {
  filter: invert(60%);
  width: 1200px;
  transform: scale(1);
  animation: pulse 5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.fadeIn-img {
  animation: 5s fadeIn-img;
}

@keyframes fadeIn-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**/
/* CARD */
/**/
.bor-none {
  border: none !important;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.title_proj:hover {
  cursor: pointer;
  color: rgb(182, 115, 150);
}

.fadeInUp-card {
  animation: 1.5s fadeInUp-card;
}
@keyframes fadeInUp-card {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/**/
/* SINGLE CARD BUTTON */
/**/

.btn-slice {
  font-family: "Fjalla One", sans-serif;
  background-color: rgb(251, 245, 243);
  text-transform: uppercase;
  padding: 1.2rem 2.5rem;
  border: 2px solid rgb(182, 115, 150);
  border-radius: 0rem;
  color: rgb(182, 115, 150);
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;

  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
}

.btn-slice .top {
  position: relative;
  height: 7px;
  overflow: hidden;
  top: 0;

  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);

  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);

  transition-delay: 0.35s;
}

.btn-slice .bottom {
  position: relative;
  height: 7px;
  overflow: hidden;
  bottom: 0;

  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);

  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);

  transition-delay: 0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
  top: -5px;
  transition-delay: 0.35s;
}

.btn-slice:hover .bottom {
  bottom: -5px;
  transition-delay: 0.35s;
}

.btn-slice:hover,
.btn-slice:focus,
.btn-slice:active {
  margin-left: 10px;
}

.btn-slice:before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: rgb(182, 115, 150);
  position: absolute;
  margin-top: 6px;
  right: -35px;

  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);

  transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
}

.btn-slice:hover:before {
  width: 130%;
}

/**/
/* NUMBER PAGE */
/**/
.page {
  color: rgb(251, 245, 243);
}

.page:hover {
  cursor: pointer;
  background-color: rgb(182, 115, 150);
}

/**/
/* CONTACT */
/**/
.contact {
  font-family: "Indie Flower", cursive;
  color: rgb(216, 190, 152);
}

/**/
/* SUMIT BUTTON */
/**/
.btn-submit {
  background-color: rgb(251, 245, 243);
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(216, 190, 152);
  transition: all 0.3s;
  position: relative;
  border: none !important;
}

.btn-submit > span {
  transition: all 0.3s;
  display: block;
  position: relative;
  z-index: 999;
}

.btn-submit:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(73, 119, 132, 0.5);
  border-bottom-color: rgba(73, 119, 132, 0.5);
  transform: scale(0.1, 1);
}

.btn-submit:hover > span {
  letter-spacing: 4px;
  color: rgb(73, 119, 132);
  transition: 1s linear;
  font-weight: 400;
}

.btn-submit:hover:before {
  opacity: 0.5;
  transform: scale(1, 1);
}

.btn-submit:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.btn-submit:hover:after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/**/
/* FOOTER */
/**/

.credits {
  color: white;
  letter-spacing: 2px;
  margin: 0 auto;
}
