/**/
/* PADDING */
/**/
.p-10{
    padding: 0 10px;
}

.pt-30{
    padding-top: 30px;
}


/**/
/* MARGIN */
/**/
.mt-30{
    margin-top: 30px;
}


/**/
/* GAP */
/**/
.gap-30{
    gap: 30px;
}

/**/
/* WIDTH */
/**/
.w-fit{
    width: fit-content;
}

.w-10px{
    width: 25px;
    aspect-ratio: 1/1;
}

.w-80px{
    width: 80px;
}

/**/
/* BACKGROUND */
/**/
.bg-petrol{
    background-color: rgb(73, 119, 132);
}

.bg-soft{
    background-color: rgb(239, 232, 219);
}
