/**/
/* PADDING */
/**/
.p-10{
    padding: 0 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pt-30{
    padding-top: 30px;
}


/**/
/* MARGIN */
/**/
.mt-30{
    margin-top: 30px;
}


/**/
/* GAP */
/**/
.gap-30{
    gap: 30px;
}

/**/
/* WIDTH */
/**/

.w-10px{
    width: 25px;
    aspect-ratio: 1/1;
}

.w-80px{
    width: 80px;
}

/**/
/* BACKGROUND */
/**/
.bg-softpetrol{
    background-color: rgb(122, 150, 166);
}

.bg-soft{
    background-color: rgb(251, 245, 243);
}

